.episode-list {
  padding: var(--md);
  border-radius: var(--md);
  background-color: var(--card-color);
  box-shadow: var(--card-shadow);

  .episode-list__item {
    cursor: pointer;
    display: flex;
    padding: var(--md);
    border-radius: var(--md);
    background-color: var(--bg-color);

    ~.striped {
      background-color: var(--card-color);
    }

    &:hover {
      .episode-list__item__link {
        text-decoration: underline;
      }
    }

    .episode-list__item__count {
      margin-right: var(--sm);
    }

    .episode-list__item__time {
      margin-left: auto;
    }
  }
}