@import 'upload';
@import 'login';
@import 'admin';

#page {
  min-height: 100vh;
  height: 100%;

  max-width: var(--content-width);
  margin: 0 auto;
  padding: calc(77px + var(--lg)) var(--md) var(--lg) var(--md);
}