@import 'home';
@import 'upload';
@import 'login';
@import 'admin';

#page {
  min-height: 100vh;
  height: 100%;

  max-width: var(--content-width);
  margin: 0 auto;
  padding: 120px 20px 60px 20px;
}