@import "../variables/breakpoints";

.upload-page {
  width: 40%;
  @media (max-width: $tablet-breakpoint) {
    width: 100%;
  }

  .upload-list {
    .upload-list__item {
      display: flex;
      align-items: center;
      padding-right: var(--md);

      .upload-list__item__action {
        cursor: pointer;
        background: url(/icons/xmark-solid.svg) no-repeat;
        filter: var(--filter-text-color);
        height: var(--lg);
        width: var(--lg);
        margin-left: var(--md);
      }
    }
  }
}
