@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.upload-page {
  width: 40%;
}

@media (max-width: 768px) {
  .upload-page {
    width: 100%;
  }
}

.upload-page .upload-list .upload-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: var(--md);
}

.upload-page .upload-list .upload-list__item .upload-list__item__action {
  cursor: pointer;
  background: url(/icons/xmark-solid.svg) no-repeat;
  -webkit-filter: var(--filter-text-color);
          filter: var(--filter-text-color);
  height: var(--lg);
  width: var(--lg);
  margin-left: var(--md);
}

.login-page .form {
  width: 100%;
}

@media (min-width: 768px) {
  .login-page .form {
    width: 40%;
    margin: 0 auto;
  }
}

.admin-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -webkit-column-gap: var(--md);
          column-gap: var(--md);
  row-gap: var(--md);
}

@media (max-width: 576px) {
  .admin-page {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (min-width: 576px) {
  .admin-page {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (min-width: 768px) {
  .admin-page {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
}

#page {
  min-height: 100vh;
  height: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: calc(77px + var(--lg)) var(--md) var(--lg) var(--md);
}

.video-card {
  min-width: 20%;
  background-color: var(--card-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: var(--sm);
}

.video-card:hover {
  cursor: pointer;
  opacity: .6;
}

.video-card .video-card__image {
  display: block;
  width: 100%;
  aspect-ratio: 2 / 3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--sm);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.video-card .video-card__info {
  padding: var(--sm);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-card .video-card__info .video-card__info__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 var(--md);
  margin-bottom: var(--md);
}

.video-player {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--md);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  background-color: black;
}

.video-list {
  padding: var(--md);
  border-radius: var(--md);
  background-color: var(--card-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}

.video-list .video-list__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--md);
  border-radius: var(--md);
  background-color: var(--bg-color);
}

.video-list .video-list__item ~ .striped {
  background-color: var(--card-color);
}

.video-list .video-list__item:hover, .video-list .video-list__item ~ .active {
  color: var(--active-color);
  text-decoration: underline;
}

.video-list .video-list__item .video-list__item__count {
  margin-right: var(--sm);
}

.video-list .video-list__item .video-list__item__time {
  margin-left: auto;
}

.tags-list {
  margin-top: var(--md);
  font-size: 0.75rem;
}

.tags-list .tag {
  font-size: 0.75rem;
}

.tags-list .tag img {
  width: var(--md);
  height: var(--md);
}

.video-carousel {
  position: relative;
  margin: 0 calc(var(--sm) * -1);
  margin-bottom: var(--xl);
  overflow: hidden;
}

.video-carousel .wrapper {
  position: relative;
  overflow-x: hidden;
  border-radius: var(--sm);
}

.video-carousel .wrapper:hover .next,
.video-carousel .wrapper:hover .prev {
  opacity: 0.8;
}

.video-carousel .wrapper .next,
.video-carousel .wrapper .prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 var(--md);
  margin: 0 var(--sm);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--bg-color);
  opacity: 0;
}

.video-carousel .wrapper .next img,
.video-carousel .wrapper .prev img {
  -webkit-filter: var(--filter-text-color);
          filter: var(--filter-text-color);
  width: var(--md);
  height: var(--md);
}

.video-carousel .wrapper .next {
  right: 10px;
}

.video-carousel .wrapper .prev {
  left: 10px;
}

.video-carousel .video-carousel__header,
.video-carousel .video-grid {
  padding: 0 var(--sm);
}

.video-carousel .slide-right-leave-active,
.video-carousel .slide-right-enter-active {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.video-carousel .slide-left-leave-active,
.video-carousel .slide-right-leave-active {
  position: absolute;
}

.video-carousel .slide-right-enter {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.video-carousel .slide-right-leave-to {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
}

.video-carousel .slide-left-leave-active,
.video-carousel .slide-left-enter-active {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.video-carousel .slide-left-leave-active {
  position: absolute;
}

.video-carousel .slide-left-enter {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.video-carousel .slide-left-leave-to {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.video-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: var(--md);
}

@media (max-width: 576px) {
  .video-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 576px) {
  .video-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .video-grid {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.next-episode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: var(--md);
  margin-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.next-episode .volgende,
.next-episode .vorige {
  color: var(--text-color);
  text-decoration: none;
}

.next-episode .volgende:hover,
.next-episode .vorige:hover {
  color: var(--active-color);
  cursor: pointer;
}

input, button {
  background: white;
  font-size: var(--md);
  border-radius: var(--sm);
  border: none;
  padding: .5rem;
}

input[type=text], input[type=password], input[type=file] {
  width: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: var(--active-color);
  color: var(--text-color);
  font-weight: bold;
  line-height: var(--lg);
}

.button:active {
  opacity: .8;
}

.button .spinner {
  border: 5px solid var(--text-color);
  border-top: 5px solid var(--active-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin-right: var(--sm);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

input[type=file] {
  cursor: pointer;
  padding-right: 0 !important;
  color: var(--text-color-dark);
}

input[type=file]::-webkit-file-upload-button {
  display: none;
}

.search-bar {
  padding-left: 35px;
  margin-bottom: var(--lg);
  background-image: url(/icons/search.svg);
  background-position: 10px 9px;
  background-repeat: no-repeat;
}

.form {
  padding: var(--lg);
  background-color: var(--card-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: var(--md);
}

.form .input-group {
  margin-top: var(--md);
}

.form .input-group .input-group__label {
  margin-bottom: var(--sm);
}

.form .button {
  width: 50%;
  margin-top: var(--lg);
  margin-right: auto;
}

.nav-bar {
  z-index: 999;
  position: fixed;
  width: 100%;
  background-color: var(--card-color);
  -webkit-box-shadow: 0 9px 25px -5px rgba(0, 0, 0, 0.9);
          box-shadow: 0 9px 25px -5px rgba(0, 0, 0, 0.9);
  padding: var(--md) var(--xl);
}

.nav-bar .nav-bar__content {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar .nav-bar__main a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--text-color);
  text-decoration: none;
}

.nav-bar .nav-bar__main a img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 45px;
}

.nav-bar .nav-bar__items a,
.nav-bar .nav-bar__items p {
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}

.nav-bar .nav-bar__items a:hover,
.nav-bar .nav-bar__items p:hover {
  border-bottom: 1px solid var(--text-color);
}

.nav-bar .nav-bar__items .router-link-active {
  border-bottom: 1px solid var(--text-color);
}

@media (min-width: 576px) {
  .nav-bar .nav-bar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-bar .nav-bar__items .nav-bar__items__link {
    margin-left: var(--xl);
  }
}

@media (max-width: 576px) {
  .nav-bar .nav-bar__items {
    display: none;
  }
}

.nav-bar .dropdown {
  display: block;
  width: 100%;
  text-align: right;
  position: absolute;
  right: 0;
  top: 77px;
  background-color: var(--bg-color);
}

.nav-bar .dropdown .nav-bar__items__link {
  padding: var(--md) var(--lg) var(--md) var(--md);
  border-bottom: 1px solid var(--card-color);
}

.nav-bar .hamburger {
  cursor: pointer;
  height: 30px;
  width: 30px;
  -webkit-filter: var(--filter-text-color);
          filter: var(--filter-text-color);
}

@media (min-width: 576px) {
  .nav-bar .hamburger {
    display: none;
  }
}

.table-container {
  overflow-x: auto;
  border-radius: var(--md);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  padding: var(--sm);
  border-radius: var(--md);
  background-color: var(--card-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}

table tr {
  border-bottom: 1px solid var(--text-color);
}

table tr td,
table tr th {
  padding: var(--md);
  text-align: left;
}

table tr .hover:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--active-color);
}

table tr:nth-child(odd) {
  background-color: var(--bg-color);
}

table tr th:last-child {
  text-align: right;
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table .grow {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table td .button {
  margin: -10px 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.text-xs {
  font-size: .75rem;
}

.text-sm {
  font-size: 1rem;
}

.text-md {
  font-size: 1.25rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.text-dark {
  color: var(--text-color-dark);
}

:root {
  --bg-color: #1e1e1e;
  --active-color: #a67979;
  --card-color: #2d2d30;
  --card-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
  --text-color: rgb(255, 208, 208);
  --text-color-dark: rgb(109, 109, 109);
  --content-width: 1200px;
  --mobile: 500px;
  --tablet: 800px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --xxl: 64px;
  --filter-text-color: invert(94%) sepia(63%) saturate(1084%) hue-rotate(290deg) brightness(112%) contrast(118%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

#app {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}
/*# sourceMappingURL=main.css.map */