.tags-list {
  margin-top: var(--md);
  .tag {
    background-color: var(--card-color);
    box-shadow: var(--card-shadow);
    border-radius: var(--sm);
    padding: var(--sm);

    img {
      width: var(--md);
      height: var(--md);
    }
  }
}