.video-carousel {
  position: relative;
  margin: 0 calc(var(--sm) * -1);
  margin-bottom: var(--xl);
  overflow: hidden;

  .wrapper {
    position: relative;
    overflow-x: hidden;
    border-radius: var(--sm);

    &:hover {
      .next,
      .prev {
        opacity: 0.8;
      }
    }
    .next,
    .prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      padding: 0 var(--md);
      margin: 0 var(--sm);
      height: 50px;
      width: 50px;
      border-radius: 25px;

      cursor: pointer;
      background-color: var(--bg-color);
      opacity: 0;

      img {
        filter: var(--filter-text-color);
        width: var(--md);
        height: var(--md);
      }
    }
    .next {
      right: 10px;
    }
    .prev {
      left: 10px;
    }
  }

  .video-carousel__header,
  .video-grid {
    padding: 0 var(--sm);
  }

  .slide-right-leave-active,
  .slide-right-enter-active {
    transition: all 1s;
  }
  .slide-left-leave-active,
  .slide-right-leave-active {
    position: absolute;
  }
  .slide-right-enter {
    transform: translate(100%, 0);
  }
  .slide-right-leave-to {
    transform: translate(-100%, 0);
    opacity: 0;
  }

  .slide-left-leave-active,
  .slide-left-enter-active {
    transition: all 1s;
  }
  .slide-left-leave-active {
    position: absolute;
  }
  .slide-left-enter {
    transform: translate(-100%, 0);
  }
  .slide-left-leave-to {
    transform: translate(100%, 0);
  }
}
